@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');
.margin-20{
  margin-top: 20vh;
}
span{
  color:#142833;
}

.first-four{
  color: rgb(243, 95, 95);
  font-size:20vmin;
}

.second-four{
  color: rgb(243, 95, 95);
  font-size:20vmin;
}

.gear{
  width: 20vmin;
}
.description{

  text-align: center;
}
.description > button > a{
  font-family: 'Cabin', sans-serif;
}
.description > p {
  font-family: 'Yaldevi', sans-serif;
}
.description > h2{
  font-family: 'Gemunu Libre', sans-serif;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
.spin {
  animation: spin 5s linear infinite;

}


.btn {
  position: relative;
  text-align: center;
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.btn:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
