@media only screen and (max-width: 500px) {
  .hero-text text {
    font-size: 2rem !important;
  }

  .subheading-home {
    width: 90vw;
    text-align: center;
  }

  .subheading-home text {
    font-size: 2rem !important;
    text-align: center;
  }
  
}
