*, *::after,*::before {
    box-sizing: border-box;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal-Header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
